$main-color: #123456;
$alt-color: #55ddff;
$text-color: #123789;
$bg-color: #ccc;
$title-color: #666;

$default-font-size: 15px;

$font-family: 'Open Sans',
sans-serif;
$font-family-fallback: 'Helvetica',
Arial,
sans-serif;

$sidebar-width: 20%;